# Environments
*.env
*.venv
Env/
env/
.env/
Venv/
venv/
ENV/
myproj_venv

# Jupyter Notebook
.ipynb_checkpoints/

# Testing code file
test.py

# Pycache
__pycache__/

# dist folder
dist/

# egg.info files
**/*.egg-info
